.DS_Store
.idea
*.log
tmp/
*.elc
*.eln
\#.*
eln-cache/
elpa/
eshell/
history
straight/
to-add.org
.cache/
recentf
projects
tramp
transient/
bookmarks
tramp
config.el
projectile-bookmarks.eld
.lsp-session-v1
projectile.cache
multisession/
url/
nov-places
tutorial/
games/
.mcemacs-rest
.mc-lists.el
places
auto-save-list/
org-roam.db
.org-id-locations
speed-type
persist/
network-security.data
telega/
persp-states/
racket-mode/
/forge-database.sqlite
emms/
bbdb
etc
etc/
var/
tree-sitter/
mindstream/
ido.last