.DS_Store
.idea
*.log
tmp/
*.elc
*.eln
\#.*
eln-cache/
elpa/
eshell/
history 
straight/
to-add.org
.cache/
recentf
projects
tramp 
transient/
bookmarks
tramp
config.el
projectile-bookmarks.eld
.lsp-session-v1
projectile.cache
multisession/
url/
nov-places
tutorial/
games/